@use "styles/settings" as *;

@forward "src/pages/Home/Home";
@forward "src/pages/NoPageFound/NoPageFound";
@forward "src/pages/RevolvingAsset/RevolvingAsset";
@forward "src/pages/HtmlRender/HtmlRender";
@forward "src/pages/Parallax/Parallax";

@forward "src/components/PhoneModel/PhoneModel";

/* TODO Look into moving this code into a partial */
html {
    font-family: $font-family;

    scroll-behavior: smooth;
}

body {
    background-color: $background-color;
    color: $primary-font-color;
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: $header-font-color;
    font-weight: bold;

    margin: 0;
    padding: 0;
}

h1 {
    font-size: 2rem;
}

a {
    color: $primary-font-color;
    text-decoration: none;
}

button,
.button {
    color: $primary-btn-text-color;
    font-family: $font-family;

    padding: 10px 16px;
    border-radius: 6px;
}

.parent {
    @include center-content;

    height: 100vh;
}
