@use "styles/settings" as *;

.home {
  flex-direction: column;
}

.projects {
  @include reset-list;

  margin-top: 8px;

  li {
    padding: 6px 0;
  }

  a {
    @include center-content;

    justify-content: start;
    text-decoration: none;
  }

  a:before {
    background: $primary-font-color;
    content: "";
    flex: 1;

    height: 1.25px;
    max-width: 32px;

    transition: max-width 0.4s ease;
  }

  a:hover:before {
    max-width: 64px;
  }

  a:not(:hover) {
    opacity: 0.5;
  }

  span {
    padding-left: 12px;
  }
}
