/* ==================== Colors ==================== */

$background-color: #171717;

$header-font-color: #f1f1f1;
$primary-font-color: #aaaaaa;

// $primary-btn-color: #f1f1f1;
$primary-btn-text-color: #f1f1f1;

$white: #ffffff;

$radial-background: radial-gradient(#1e1e1e, $background-color);

/* ================== Typography ================== */

$font-family: "Nunito Sans", sans-serif;

/* ================= Breakpoints ================== */

$breakpoints: (
    "m": 768px,
    "l": 1024px,
    "xl": 1200px,
    "xxl": 1600px,
);
