@mixin reset-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

@mixin center-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin fill-parent {
    height: 100%;
    width: 100%;
}
